$blue:   #3b5998;
$orange: #ca6914;
$teal:   #749ad3;

$primaryColor:   $blue;
$secondaryColor: $teal;
$success:        #28a745;
$info:           $teal;
$warning:        #ffc107;
$danger:         #dc3545;
$light:          #d2d7db;
$dark:           #343c42;
$black:          #070707;
$white:          #fff;

// stylelint-disable selector-pseudo-class-no-unknown, property-no-unknown
// allow use in JS
:export {
  blue: $blue;
  orange: $orange;
  teal: $teal;
  primary: $primaryColor;
  secondary: $secondaryColor;
  success: $success;
  info: $info;
  warning: $warning;
  danger: $danger;
  light: $light;
  dark: $dark;
  black: $black;
  white: $white;
}
