$blue:   #3B5998;
$orange: #CA6914;
$teal:   #749AD3;

$primaryColor:   #3B5998;
$secondaryColor: #749AD3;
$success:        #28a745;
$info:           #749AD3;
$warning:        #ffc107;
$danger:         #dc3545;
$light:          #D2D7DB;
$dark:           #343C42;
$black:          #070707;
$white:          #FFFFFF;

// allow use in JS
:export {
  blue: $blue;
  orange: $orange;
  teal: $teal;
  primary: $primaryColor;
  secondary: $secondaryColor;
  success: $success;
  info: $info;
  warning: $warning;
  danger: $danger;
  light: $light;
  dark: $dark;
  black: $black;
  white: $white;
}
