@import '../theme/variables.scss';

#footer {
  padding: 5em 0em;
  background-color: $primaryColor;
}

#bottom-bar {
  background-color: $primaryColor;
}

#bottom-bar-icons {
  padding-top: 1.5em;
}

#attribution {
  color: rgba(255, 255, 255, 0.5);
  align-self: center;
}