@import '../theme/variables.scss';

#footer {
  padding: 5em 0em;
  background-color: $primaryColor;
}

#bottom-bar {
  background-color: $primaryColor;  
}

#attribution {
  color: rgba(255, 255, 255, 0.5);
}